@using _26FebbraioEs.Models
@model List<Dipendente>

<h1>Lista Dipendenti</h1>
<style>
    table {
        width: 100%;
        table-layout: fixed;
    }

    th, td {
        padding: 15px;
    }

    thead {
        background-color: #f1f1f1;
    }
</style>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Indirizzo</th>
            <th>Codice Fiscale</th>
            <th>Coniugato</th>
            <th>Figli a Carico</th>
            <th>Mansione</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dipendente in Model)
        {
            <tr>
                <td>@dipendente.Nome</td>
                <td>@dipendente.Cognome</td>
                <td>@dipendente.Indirizzo</td>
                <td>@dipendente.CodiceFiscale</td>
                <td>@(dipendente.Coniugato ? "Si" : "No")</td>
                <td>@dipendente.FigliACarico</td>
                <td>@dipendente.Mansione</td>
            </tr>
        }
    </tbody>
</table>
