@using _26FebbraioEs.Models
@model List<Dipendente>

<h1>List of Employees</h1>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Indirizzo</th>
            <th>Codice Fiscale</th>
            <th>Coniugato</th>
            <th>Figli a Carico</th>
            <th>Mansione</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dipendente in Model)
        {
            <tr>
                <td>@dipendente.Nome</td>
                <td>@dipendente.Cognome</td>
                <td>@dipendente.Indirizzo</td>
                <td>@dipendente.CodiceFiscale</td>
                <td>@(dipendente.Coniugato ? "Yes" : "No")</td>
                <td>@dipendente.FigliACarico</td>
                <td>@dipendente.Mansione</td>
            </tr>
        }
    </tbody>
</table>
